<!-- Funcion parte 1 -->

<!-- <h1> {{titulo}} </h1>
<hr>
<h3>Contador:{{contador}}</h3>

<button (click)="incrementarValor(+2)">+1</button>
<button (click)="reiniciar()">Reset</button>
<button (click)="incrementarValor(-2)">-1</button>

<hr><hr>
<app-personajes-personaje></app-personajes-personaje> -->

<!-- <app-per1-add-character></app-per1-add-character> -->
<!-- <app-per1-add-character></app-per1-add-character> -->

<div class="container">
    <app-per1-main-pagina></app-per1-main-pagina>
</div>






<!-- <app-contador></app-contador>
<hr><hr>
<app-personajes-personajes></app-personajes-personajes>
<hr><hr>
<app-personajes-listado></app-personajes-listado> -->